---
layout: page
permalink: /categories/
title: Categories
---

<div id="archives">
{% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <!-- Category Heading -->
    <h1 class="category-head">{{ category_name }}</h1>
    <a name="{{ category_name | slugize }}"></a>

    <!-- Conditional Description -->
    {% if category_name == "Engineering Manufacturing Technician" %}
      <h3 class="category-head">Engineering Manufacturing Technician</h3>
      <p class="category-description">
        Below is the blog series for my time as an Engineering Manufacturing Technician. 
        Most of the work documented was to suit the requirements for my Level 4 qualification, the dates are not accurate as they were all submitted as a block of work
        After the submittion of work it was graded as Distinction which is the highest marks for this body of work (eg: A)
      </p>
    {% endif %}

    <!-- List Posts in This Category -->
    {% for post in site.categories[category_name] %}
      <article class="archive-item">
        <h4><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h4>
      </article>
    {% endfor %}
  </div>
{% endfor %}
</div>